/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2019, 15:13:32
    Author     : jonathan
*/

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}


body *{
    
    box-sizing: border-box;
    /*outline: 1px solid #abc;*/
}
body{
    background-color: #c4d8ff;
}

header{
    width: 97%;
    height: 10%;
    background-color: #bcbcbc;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

main{
    width: 97%;
    height: 87vh;
    margin: 5px auto;
    overflow:  hidden;
    border-radius: 20px;
    
}

#main{
    width: 97%;
    height: 40vh;
    margin: 5px auto;
    border-radius: 10px;
    background-color: black;
    color: white;
}

footer{
    width: 97%;
    background-color:#848484 ;
    color: white;
    margin: 5px auto;
    border-radius: 10px;
}

#main>section{
    width: 70%;
    height: 100%;
    float: left;
    /*background-color: lavender;*/
}

#main>aside{
    width: 30%;
    height: 100%;
    float: left;
    /*background-color:  #f7cc09;*/
    padding: 5px;

}

#colores{
    width: 59px;
    border: 1px solid black;
    height: 10px;
    margin: 5px auto;
}

.color{
    width: 6.8px;
    height: 6.6px;
    border: 1px solid black;
    float: left;
    margin-top: 1px;
    margin-left: 1.2px;
    
}

#busqueda{
    float: right;
    
}
header>h1{
    float: left;
}


#rojo{
    background: #FF0000;
}
#naranja{
    background: #FF8000;
}
#amarillo{
    background:#FFFF00;
}
#verde{
    background: #40FF00;
}

#azul{
     background: #0000FF;
}
#anil{
    background: #8000FF;
}
#violeta{
    background:#FF00BF ;
}

.texto{
    width: 100%;
}
#mapa{
    width: 100%;
    height: 100%;
}
#formulario{
    margin:5px auto;
    width: 90%;
    
    border-radius: 10px;
}