/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2019, 15:13:32
    Author     : opossum
*/

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}
body *{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10%;
    background-color: #23e7e7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

main{
    width: 100%;
    height: 85%;
}

footer{
    width: 100%;
    height: 5%;
    background-color: black;
    color: white;
}

main>section{
    width: 70%;
    height: 100%;
    float: left;
    
}

main>aside{
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dccf56;
}

#colores{
    width: 500px;
    border: 1px solid black;
    height: 70px;
    margin: 5px auto;
}

.color{
    width: 14%;
    height: 66px;
    border: 1px solid black;
    float: left;
    margin-top: 1px;
    margin-left: 1.2px;
    
}

#busqueda{
    float: right;
    
}
header>h1{
    float: left;
}

